@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="form-inline w-50">
                <div class="form-group">
                    <label for="nameInput" class="control-label">Input your name</label>
                    <input type="text" id="usernameInput" class="form-control w-50" placeholder="Username" />
                </div>
                <button class="btn btn-primary m-2" id="connectBtn" type="submit">Connect</button>
                <button class="btn btn-primary m-2" id="sendBtn" type="submit" disabled>Send</button>
                <button class="btn btn-danger m-2" id="disconnectBtn" type="submit" disabled>Disconnect</button>
                <p id="groupName"></p>
                <input type="text" id="messageVal" class="form-control w-50" />
            </div>
        </div>
        <div class="col-sm">
            <table class="table table-striped w-75 text-center">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody id="messageList">

                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>

