html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#messageColumn {
    display: flex;
    flex-direction: column;
    height: 85vh;
    border:1px black solid;

}

#messageBoardSection{
    flex:1 1 0;
    overflow-y:auto;
    overflow-x:visible;
}

#messageList > td:nth-of-type(1){
    width:min-content;
}


#messageList > td:nth-of-type(2) {
    overflow-wrap: anywhere;
}


#groupSection {
    border: 1px black solid;
}
